

$color1: #102639;
$color2: #f2664f;
$color3: #f7f8f8;
$color4: #d8d8d9;
$color5: #d75842;
$color6: #898b91;
$color7: #9cc3ca;
$color8: #e3ac90;
$color9: #ef9c3c;
$color10: #ffd74f;
$color11: green;
$color12: #273b4c;
$bordercolor: #ccc;
$rowcolor1: #fff;
$rowcolor2: #eee;

body {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Verdana;

  & > .ember-view {
    display: block;
    width: 100vw;
    height: 100vh;
  }

  input {
    width: 100%;
    height: 32px;
    border: 1px solid #ccc;
    margin: 0 0 10px 0;
    border-radius: 3px;
    padding: 0 15px;
    box-sizing: border-box;
  }

  header,
  section {
    display: block;
    line-height: 100%;
    margin: 0;
    padding: 0;
  }

  .logo {
    float: none;
    color: $color9;
    font: 24px/55px Verdana;
    margin: 0;

    & > b {
      color: $color3;
      font-weight: normal;
    }
  }

  .button {
    display: inline-block;
    float: left;
    padding: 8px 20px;
    font: 12px/1 Verdana;
    border-radius: 3px;
    color: #30aeef;
    cursor: pointer;

    &.blue {
      border: 1px solid #0199f5;
      color: #fff;
      background: #0199f5;
    }

    &.grey {
      background: $color4;
      border: 1px solid $bordercolor;
      color: #444;
    }

    &.green {
      background: $color11;
      border: 1px solid $color11;
      color: $color3;
    }

    &.red {
      background: $color5;
      border: 1px solid $color5;
      color: $color3;
    }
  }

  #modal-overlays {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;

    & > .ember-modal-wrapper {
      & > .ember-modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .4);
        overflow: hidden;

        & > .ember-modal-dialog {
          width: 100%;
          max-width: 800px;
          height: 100%;
          padding: 50px 0;
          margin: 0 auto !important;
          text-align: center;
          box-sizing: border-box;
        }
      }
    }
  }
}

.v-application {
  display: block;
  width: 100%;
  height: 100%;
  padding: 56px 0 0;
  box-sizing: border-box;
  background: $color7;

  &.no-auth {
    padding: 0;
  }

  &.syncing {

    &:after {
      position: absolute;
      content: 'Syncing data...';
      top: 20px;
      right: 20px;
      padding: 20px 30px;
      font: 22px/1 Verdana;
      color: #444;
      background: rgba(255,255,255,.5);
      border-radius: 5px;
    }
  }

  & > header {
    width: 100%;
    height: 56px;
    background: $color1;
    text-align: center;
    margin: -56px 0 0;

    & > span {
      float: right;
      height: 100%;
      margin: 0 15px 0 0;

      &.logo {
        float: left;
        margin: 0;
        padding: 0 0 0 40px;
      }

      & > ul {
        height: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;

        & > li {
          float: left;
          width: 100px;
          height: 100%;
          color: #bfbfbf;
          font: 16px/55px Verdana;
          cursor: pointer;

          &:hover {
            color: #efefef;
          }
        }
      }
    }
  }

  & > .main-content {
    display: block;
    width: 100%;
    height: 100%;
  }
}

@import 'components';
@import 'login';
@import 'index';
@import 'teams';
@import 'players';
@import 'trades';
@import 'settings';
