

.v-trades {
  width: 100%;

  & > header {
    display: block;
    width: 100%;
    height: 56px;
    font: bold 24px/55px Verdana;
    max-width: 1000px;
    margin: 30px auto 40px;
    text-align: left;
    color: $color1;
    border-bottom: 2px solid $color1;
  }

  & > div {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
}
