
.v-trade-dialog {
  width: 100%;
  max-height: 100%;
  background: #fff;
  padding: 56px 0;
  box-sizing: border-box;
  border-radius: 5px;

  & > header {
    width: 100%;
    height: 56px;
    color: #f3f3f3;
    background: #384d60;
    margin: -56px 0 0;
    border-radius: 4px 4px 0 0;
    font: 18px/55px Verdana;
    text-align: center;
  }

  & > div {
    width: 100%;
    min-height: 400px;
    overflow: hidden;
    overflow-y: auto;

    &.teams {
      width: 100%;

      & > span {
        display: inline-block;
        width: 100%;
        height: 36px;
        font: 14px/35px Verdana;
        color: #777;
        background: #ececec;
        text-align: left;
        padding: 0 40px;
        box-sizing: border-box;
        cursor: pointer;

        &:nth-child(2n+1) {
          background: #f7f6f5;
        }

        &:hover {
          color: #333;
        }
      }
    }

    &.roster,
    &.picks {
      width: 100%;
      background: #f7f6f5;
      padding: 30px;
      box-sizing: border-box;

      & > div {
        float: left;
        width: 47%;
        box-sizing: border-box;
        box-shadow: 0px 0px 10px -3px #666;

        & > header {
          color: #3e92a0;
          font: 16px/1 Verdana;
          border-bottom: 1px solid #3e92a0;
          text-align: left;
          margin: 0 0 0px 0;
          padding: 10px 15px;
          box-sizing: border-box;
        }

        &:last-of-type {
          float: right;
        }
      }
    }

    &.success {
      padding: 50px 0 0;
      font: 24px/100px Verdana;
      color: #555;
      box-sizing: border-box;
    }

    &.summary {

      & > div {
        width: 100%;

        &.trader {
          height: 52px;
          font: bold 18px/31px Verdana;
          color: #666;
          padding: 10px;
          box-sizing: border-box;

          & > b {
            color: #333;
          }
        }

        &.trade-deal {
          display: inline-block;
          padding: 0 50px 50px;
          box-sizing: border-box;

          & > div {
            display: inline-block;
            float: left;
            width: 48%;

            &:last-of-type {
              float: right;
            }

            & > label {
              text-align: left;
              display: inline-block;
              width: 100%;
              height: 32px;
              margin: 10px 0 15px 0;
              font: bold 16px/31px Verdana;
              color: #444;
              box-sizing: border-box;
            }

            & > div {
              float: left;
              display: inline-block;
              padding: 8px 15px;
              margin: 0 0 10px 10px;
              font: 12px/1 Verdana;
              box-sizing: border-box;
              border: 1px solid #ccc;
              border-radius: 20px;
              text-align: center;
              color: #fff;
              letter-spacing: .5px;

              &.giving {
                background: #ef5c5c;
                border-color: #cc4343;
              }

              &.getting {
                background: #50a0f5;
                border-color: #50a0f5;
              }
            }
          }
        }
      }
    }
  }

  & > footer {
    width: 100%;
    height: 56px;
    background: #f3f3f3;
    border-radius: 0 0 4px 4px;
    padding: 10px 15px;
    box-sizing: border-box;
    margin: 0 0 -56px;
    border-top: 1px solid #ccc;

    & > a {
      float: right;
      margin: 0 15px 0 0;
    }
  }
}
