
<div class="v-teams">
  <div>
    {{#each model as |team|}}
      <div>
        <div class="title" {{action 'openTeam' team.ownerId}}>
          <div><label>Team Name</label><span>{{team.franchiseName}}</span></div>
        </div>
          {{roster-list model=team}}

          {{!picks-list model=team}}
      </div>
    {{/each}}
  </div>
</div>
