
<div class="v-teams">
  <div>
    <div>
      {{#each model as |team|}}
        <div {{action 'openTeam' team.ownerId}}>
          <div class="title">
            <div><span>{{team.franchiseName}}</span></div>
          </div>
            {{roster-list model=team selection=false}}

            {{!picks-list model=team}}
        </div>
      {{/each}}
    </div>
  </div>
</div>
