
.v-roster-list {
  width: 100%;
  height: 100%;

  & > div {
    width: 100%;
    height: 32px;
    background: #ececec;
    box-sizing: border-box;
    padding: 5px 15px;
    cursor: pointer;

    & > label {
      float: left;
    }

    & > span {
      float: right;
    }

    &:nth-child(2n+1) {
      background: #f7f6f5;
    }

    &.selected {
      background: #b1dbf1;
      border-bottom: 1px solid #fff;
      box-shadow: 0 1px 1px 0 #ccc inset;
    }

    &.disable {
      color: #999;
      cursor: default;
    }
  }
}
