
.v-team-table {
  width: 100%;

  & > .team {
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 6px -4px #333;
    overflow: hidden;

    & > header {
      width: 100%;
      height: 56px;
      font: 18px/55px Verdana;
      padding: 0 15px;
      color: #f3f3f3;
      border-bottom: 1px solid #ccc;
      background: #384d60;
      box-sizing: border-box;
    }

    & > .roster {
      width: 100%;

      & > div {
        width: 100%;
        height: 42px;
        font: 16px/41px Verdana;
        padding: 0 15px;
        box-sizing: border-box;
        background: #ececec;

        & > label {
          float: left;
          width: 10%;
          border-right: 1px solid #ccc;
          box-sizing: border-box;
        }

        & > span {
          float: left;
          padding: 0 0 0 15px;
          box-sizing: border-box;

          &.name {
            width: 60%;
          }

          &.cost {
            width: 5%;
            text-align: right;
          }

          & > .button {
            padding: 0 15px;
            line-height: 41px;
            float: right;
          }

          &:last-of-type {
            float: right;
            padding: 0;
            width: 25%;
          }
        }

        &:nth-child(2n+1) {
          background: #f7f6f5;
        }

        &.space {
          height: 32px;
          background: #5f6f7d;
          text-align: left;
        }
      }
    }

    & > .total {
      width: 100%;
      height: 42px;
      padding: 0 15px;
      box-sizing: border-box;

      & > span {
        float: left;
        font: bold 14px/41px Verdana;
        color: #666;

        &:last-of-type {
          float: right;
        }
      }
    }

    & > .picks {
      width: 100%;
      height: 62px;
      background: #fff;
      border-bottom: 1px solid #ccc;

      & > header {
        width: 100%;
        height: 25px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;

        & > label {
          width: 6.666%;
          height: 100%;
          float: left;
          font: 10px/35px Verdana;
          text-align: center;
          box-sizing: border-box;
        }
      }

      & > div {
        width: 100%;

        & > span {
          width: 6.666%;
          height: 35px;
          float: left;
          font: 12px/34px Verdana;
          text-align: center;
          border-right: 1px solid #ccc;
          box-sizing: border-box;

          &:last-of-type {
            border: 0;
          }
        }
      }
    }
  }
}

.v-drop-dialog {
  width: 100%;
  min-height: 170px;
  background: #fff;
  border-radius: 4px;
  padding: 30px;
  box-sizing: border-box;

  & > h1 {
    font: 16px/1 Verdana;
    text-align: left;
    margin: 10px 0 50px 0;
  }

  .button {
    float: right;
    margin: 0 15px 0 0;
  }
}
