
.v-trade-request {
  width: 100%;
  display: inline-block;
  //border: 1px solid #aaa;
  background: $color1;
  margin: 0 0 25px;
  border-radius: 3px;

  & > .title {
    width: 102%;
    height: 52px;
    padding: 10px 15px;
    font: 16px/32px Verdana;
    box-sizing: border-box;
    border-bottom: 1px solid $color6;
    background: $color3;
    margin: 0 0 0 -1%;
    color: $color1;

    & > span {
      float: left;

      &:last-of-type {
        float: right;

        & > div {
          height: 15px;
          font: 12px/15px Verdana;
          margin: 0 0 2px 0;
          text-align: right;

          &:last-of-type {
            font: italic 10px/15px Verdana;
            margin: 0;
            color: #777;
          }
        }

        & > .button {
          margin: 0 0 0 15px;
        }
      }
    }
  }

  & > .body {
    display: inline-block;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

    & > div {
      display: inline-block;
      width: 48%;
      float: left;

      &:last-of-type {
        float: right;
      }

      & > label {
        display: inline-block;
        width: 100%;
        margin: 0 0 10px 0;
        font: 16px/1 Verdana;
        color: $color9;
      }

      & > div {
        display: inline-block;
        float: left;
        padding: 8px 15px;
        margin: 0 10px 10px 0px;
        font: 12px/1 Verdana;
        box-sizing: border-box;
        //border: 1px solid #ccc;
        border-radius: 20px;
        text-align: center;
        color: $color4;
        background: $color12;
        letter-spacing: .5px;
      }

      & > span {
        float: left;
        margin: 0 0 10px 10px;
        color: $color6
      }
    }
  }
}
