
.v-trade-request {
  width: 100%;
  display: inline-block;
  border: 1px solid #aaa;
  background: #fafafa;
  margin: 0 0 25px;
  border-radius: 3px;

  & > .title {
    width: 100%;
    height: 52px;
    padding: 10px 15px;
    font: 16px/32px Verdana;
    box-sizing: border-box;
    border-bottom: 1px solid #aaa;
    background: #f3f3f3;
    color: #555;

    & > span {
      float: left;

      &:last-of-type {
        float: right;

        & > .button {
          margin: 0 0 0 15px;
        }
      }
    }
  }

  & > .body {
    display: inline-block;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

    & > div {
      display: inline-block;
      width: 48%;
      float: left;

      &:last-of-type {
        float: right;
      }

      & > label {
        display: inline-block;
        width: 100%;
        margin: 0 0 10px 0;
        font: 16px/1 Verdana;
        color: #666;
      }

      & > div {
        display: inline-block;
        float: left;
        padding: 8px 15px;
        margin: 0 0 10px 5px;
        font: bold 12px/1 Verdana;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 20px;
        text-align: center;
        color: #666;
        background: #f2f9fb;
        letter-spacing: .5px;
      }

      & > span {
        float: left;
        margin: 0 0 10px 10px;
      }
    }
  }
}
